# Virtual Environment files
Include/
Lib/
Scripts/
share/
pyvenv.cfg

# Python cache
__pycache__/
*.pyc

# Env
cv-env
venv
.venv
env
.env

# Images
month1/week4/drone_dataset
/cropped_images
# Local Netlify folder
.netlify
/new_ref_db