# (Frontend is no longer ignored because we are hosting it natively in Python!)

# Ignore documentation and learning notes
*.md

# Ignore local image testing folders
cropped_images/
source_images/
reference_db/
*.jpg
*.jpeg
*.png

# Ignore Python cache and environments
__pycache__/
*.pyc
.env
cv-env/
venv/

# Ignore old learning scripts
crop_products.py
